body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.timer {
    display: block;
    text-align: center;
    align-self: center;
    padding: 30px;
    flex: 1;
    background-color: #ccc;
}
.dateCalc {
    display: block;
    text-align: center;
    padding: 30px;
    flex: 1;
    background-color: #ccc;
}
.result {
    text-align: center;
    padding: 30px;
    background-color: rgba(142, 139, 154, 0.227);

}